[submodule "third_party/Promises"]
	path = third_party/Promises
	url = https://github.com/slightlyoff/Promises.git
[submodule "tests/observe/third_party/platform"]
	path = tests/observe/third_party/platform
	url = https://github.com/Polymer/platform.git
[submodule "tests/observe/third_party/HTMLImports"]
	path = tests/observe/third_party/HTMLImports
	url = https://github.com/Polymer/HTMLImports.git
[submodule "tests/observe/third_party/CustomElements"]
	path = tests/observe/third_party/CustomElements
	url = https://github.com/Polymer/CustomElements.git
[submodule "tests/observe/third_party/mdv"]
	path = tests/observe/third_party/mdv
	url = https://github.com/Polymer/mdv.git
[submodule "tests/observe/third_party/PointerGestures"]
	path = tests/observe/third_party/PointerGestures
	url = https://github.com/Polymer/PointerGestures
[submodule "tests/observe/third_party/PointerEvents"]
	path = tests/observe/third_party/PointerEvents
	url = https://github.com/Polymer/PointerEvents.git
[submodule "tests/observe/third_party/ShadowDOM"]
	path = tests/observe/third_party/ShadowDOM
	url = https://github.com/Polymer/ShadowDOM.git
