language: node_js
sudo: false
cache:
  directories:
    - node_modules
node_js:
  - "0.10"
env:
  global:
    # Sauce Labs are OK with this and it is currently necessary to expose this information for testing pull requests;
    # please get your own free key if you want to test yourself
    - SAUCE_USERNAME: core-ts-ci
    - SAUCE_ACCESS_KEY: 735b17e8-adcd-436a-bc5e-f5bec5e91a64
  matrix:
    - TEST_SUITE: node
    - TEST_SUITE: remote
before_script:
  - travis_retry npm install -g grunt-cli
  - travis_retry npm install
script: "grunt test:$TEST_SUITE"