language: node_js
node_js:
  - "0.10"
env:
  global:
    # Sauce Labs are OK with this and it is currently necessary to expose this information for testing pull requests;
    # please get your own free key if you want to test yourself
    - SAUCE_USERNAME: core-ts-ci
    - SAUCE_ACCESS_KEY: 735b17e8-adcd-436a-bc5e-f5bec5e91a64
  matrix:
    - TEST-SUITE: node
    - TEST-SUITE: remote
before script:
  - "npm install -g grunt-cli"
  - "grunt ts"
script: "grunt test:$TEST_SUITE"